body {
    min-height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
    background-position: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.photo{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 2px solid black;
    object-fit:cover;
    margin: 0 auto 15px;
}
.info-card {
    background:lightcyan;
    border: 8px solid black;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.07);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 35px;
    padding-bottom: 35px;
    max-width: 350px;
    width: 100%;
    transition: background 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.info-card table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;
}
.info-card th, .info-card td {
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 7px;
    padding-right: 7px;
    color: black;
}
.info-card th{
    width: 45%;
    padding-right: 16px;
}
.button-group {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin: 1rem 0;
    align-items: center;
}
.show_hobbies, .dropdown {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    background: black;
    color: white;
    cursor: pointer;
    font-size:medium;
    box-sizing: border-box;
    max-width: 160px;
    height: 40px;
}
.extra-info {
    margin-top: 1rem;
    width: 100%;
    background: #f6f9fc;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 0.95rem;
    color: black;
    display: none;
    text-align: left;
    box-sizing: border-box;
}